.my{
      margin-left:30% ;
}
.mycontainer{
    /* border: 1px solid black; */
    background-color: black;
    height: 500px;
    width: 330px;
    align-items: center;
    border-radius: 15px;
}
#my-c-1-1{
    height: 130px;
    width: 99%;
    border: none;
    text-align: right;
    font-size: 50px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
}
.mycontainer2{
    text-align: center;
}
.button{
    padding: 20px; 
    margin: 3px;
    border-radius: 50%; 
    font-size: 18px;
    border: none;
    width: 70px;
    cursor: pointer;
    background-color: rgb(70, 69, 69);
    color: white;
}
.in-12{
    padding: 18px 33px;
    border-radius: 40px;   
    border: none;
    cursor: pointer;
    width: 150px;
    background-color: rgb(70, 69, 69); 
    color: white;
}
.op-12{
    border: none;
    cursor: pointer; 
    background-color: orange; 
    color: white;
}
.op-11:active{
    background-color: red;
}
.op-13:active{
    background-color:rgba(44, 177, 51, 0.635);

}
